/* ----------------------------------------MEDIAS QUERIES (MOVIL)---------------------------------------------------------------------- */

@media  screen and (max-width:767px) {

    /* ------------INDEX-------------- */

    /* HEADER */

    .header {
        .nav-bar {
            width: 100%;
            height: 150px;
            background-image: linear-gradient(to top, #ffffff, #f2f2f2, #e6e5e5, #dad8d8, #cecccb);
            display: grid;
            grid-template-columns: repeat(8, 1fr);
            align-items: center;
            .logotipo-movil {
                display: block;
                width: 80px;
                height: 80px;
                grid-column: 2 / 5;
            }
            .logotipo {
                display: none;   
            }
            .menu-movil {
                display: block;
                grid-column: 7;
                font-size: 2em;
                margin-left: 8px;
                color: $f-color2;
            }
            .menu {
                display: none;
            }
        }
    }

    /* SLIDER */


    .slider{
        background-color: #ffffff;
        width: 100%;
        margin: auto;
        overflow: hidden;  
        }
    .slider__ul{
        width: 300%;
        padding: 0;
        display: flex;    
        animation: movimiento 15s infinite linear;
        .slider__li {
            width: 100%;
            list-style: none;
            .slider__li-img {
                width: 100%;
                height: 300px;
            }
        }
    }

    @keyframes movimiento {
        0% {margin-left: 0;}
        20% {margin-left: 0;}

        25% {margin-left: -100%;}
        45% {margin-left: -100%;}

        50% {margin-left: -200%;}
        70% {margin-left: -200%;}

        75% {margin-left: -100%;}
        95% {margin-left: -100%;}

        100% {margin-left: 0;}
    }

    /* TARJETAS */

    .contenedor-seccion1 {
        width: 100%;
        display: flex;
        flex-direction: column;
        .titulo-seccion1{
            font-size: 28px;
            margin-top: 5rem;
            margin-bottom: 0rem;
            margin-left: 1rem;
            color: $f-color1;   
        }
        .seccion1{
            margin-top: 3rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;  
            .seccion1__articulo{
                background-color: #ffffff;
                width: 350px;
                height: 500px;
                box-shadow: rgba(0, 0, 0, 0.35) 1px 5px 15px;
                display: flex;
                flex-direction: column;
                margin-top: 1.5rem;
                border-radius: 5px; 
                .seccion1__titulo{
                    text-align: center;
                    font-size: 30px;
                    padding-top: 2.5rem;
                    padding-left: 2rem;
                    padding-right: 2rem;
                    color: $f-color1;
                } 
                .seccion1__articulo-p1{
                    text-align: justify;
                    padding-left: 2rem;
                    padding-right: 2rem;
                    padding-top: 2rem;
                    padding-bottom: 1rem;
                    color: $f-color2;
                }
                .seccion1__articulo-p2{
                    font-size: 20px;
                    text-align: justify;
                    padding-top: 1rem;
                    padding-left: 2rem;
                    padding-bottom: 1rem;
                    padding-right: 2rem;
                    color: $f-color1;
                    font-weight: 600;
                }
                .seccion1__articulo__ul{
                    padding-left: 2rem;
                    list-style: none;
                    text-align: left; 
                    display: flex;   
                    flex-direction: column;
                    .seccion1__articulo__ul-li{
                        padding: 10px;
                        font-size: 15;
                        color: $f-color2;
                        font-weight: 500;
                        .fa-solid{
                            color: $f-color2;
                            padding-right: 4px;
                        }
                    }
                }
            }
        }
    }

    /* FORMULARIO */

    .titulo-seccion2{
        align-content: flex-start;
        font-size: 28px;
        margin-top: 4rem;
        margin-bottom: 4rem;
        margin-left: 0.5em;
        color: $f-color1;
    }
    .contenedor-formulario{
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 5rem;
        width: 100%;
        .formulario{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            width: 100%;
            height: 1200px;
            box-shadow: rgba(0, 0, 0, 0.35) 1px 5px 15px;
            background-color: #ffffff;
            border-radius: 5px;
            .titulo-formulario{
                margin-bottom: 3rem;
                font-size: 23px;
                color: $f-color1;
            }
            .formulario__label{
                color: $f-color1;
            }
            .input-comun{
                width: 300px;
                height: 30px;
                background-color: #ffffff;
                border: none;
                border-bottom: 2px solid $f-color1;
                outline: none;   
                color: rgba(83, 83, 83, 0.918);
                &:focus{
                    outline: none;
                    border: none;
                    border-bottom: 2px solid rgb(21, 88, 114);  
                    color: $f-color1;
                }
            }
            .input-selector{
                color: rgba(83, 83, 83, 0.918);
            }
            .input-adj{
                margin-top: 10px;
                margin-bottom: 10px;
                color: $f-color1;
            }
            .input-adl-label{
                font-size: 15px;
            }
            .contenedor-checkbox{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                margin-bottom: 2rem;
                .checkbox-input {
                    margin-right: 1rem;
                }
                .checkbox-label {
                    color: $f-color1;
                }
            }  
            .formulario__div{
                padding: 5px;  
            }     
            .titulo-termminos{
                font-size: 15px;
                text-align: center;
                margin-top: 2rem;
                margin-bottom: 2rem;
                color: $f-color1;
            } 
            .text-area-movil {
                display: inline-block;
                margin-bottom: 1rem;
                background-color: #ffffff;
                color: rgba(83, 83, 83, 0.918);
                border: solid 2px $f-color1;
                outline: none;
                text-align: left;
                resize: none;
            }
            .text-area {
                display: none;
            }
            .text-area-tablet {
                display: none;
            }
            .submit {
                width: 300px;
                height: 40px;
                background-color: $f-color1;
                color: white;
                border: none;
                &:hover{
                    background-color: rgb(21, 88, 114);
                }
            }
        }
    }

    /* FOOTER */

    .contenedor-footer{
        width: 100%;   
        height: 250px; 
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        align-items: center;
        background-image: linear-gradient(to bottom, #ffffff, #f2f2f2, #e6e5e5, #dad8d8, #cecccb);
        .qr-img{
            grid-column: 1 / 2;
            height: 90px;
            width: 70px;
            margin-left: 20px;
        }
        .contenedor-footer__p {
            display: none;
        }
        .contenedor-redes-sociales{
            grid-column: 6/12;
            display: flex;
            flex-direction: column;
            h3 {
                color: $f-color1;
                margin-bottom: 10px;
                margin-left: 10px;
                font-size: 18px;
            }
            .contenedor-redes-sociales__ul {
                display: flex;
                list-style: none;
                .contenedor-redes-sociales__li {
                    display: flex;
                    flex-wrap: wrap;
                    padding: 5px;
                    .contenedor-redes-sociales__a {
                        text-decoration: none;
                        flex-wrap: wrap;
                        font-size: 18px;
                        .fa-brands {
                            font-size: 25px;
                        }
                        .fa-facebook-square {
                            color: rgb(24, 99, 211);
                            &:hover{
                                color: rgb(17, 43, 60);
                            }
                        }
                        .fa-instagram {
                            color: rgb(167, 54, 106);
                            &:hover{
                                color: rgb(104, 32, 66); 
                            }
                        }
                        .fa-twitter-square {
                            color: rgb(53, 143, 216);
                            &:hover{
                                color: rgb(17, 43, 60);
                            }
                        }
                        .fa-linkedin {
                            color: rgb(47, 96, 168);
                            &:hover{
                                color: rgb(17, 43, 60);
                            }
                        }
                    } 
                }
            }
        }
    }


 /* ----------COMO FUNCIONA------------ */

    .como-funciona{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        margin-bottom: 2rem;
        margin-top: 2rem;
        .article-movil {
            width: 95%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #ffffff;
            box-shadow: rgba(0, 0, 0, 0.35) 1px 5px 15px;
            border-radius: 5px;
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;
            .article-movil__img {
                width: 240px;
                height: 260px;
            }        
            .article-movil__h3 {
                margin-top: 2rem;
                margin-bottom: 1.5rem;
                color: $f-color1;
            }
            .article-movil__p {
                align-content: center;
                text-align: center;
                padding-left: 55px;
                padding-top: 38px;
                padding-bottom: 45px;
                padding-right: 55px;
                color: $f-color2;
            }
        }
        .article-desktop {
            display: none;
        }
    }

 /* ----------SOBRE NOSOTROS------------ */

 .sobre-nosotros-movil{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap; 
    margin-bottom: 3rem;
    margin-top: 3rem;
    .nosotros__article-movil{
        width: 95%;
        height: 1200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.35) 1px 5px 15px;
        border-radius: 5px;
        margin-top: 1rem;
        margin-bottom: 1rem;
        .nosotros__article-h3-movil{
            display: flex;
            justify-content: flex-start;
            margin-top: 2rem;
            font-size: 40px;
            color: $f-color1;
        }
        .abc {
            display: flex;
            justify-content: flex-start;
            margin-top: 2rem;
            font-size: 33px;
            color: $f-color1;
        }
        .nosotros__article-div-movil{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 2rem;
            overflow: auto;
            .img-quienes-movil {
                width: 402px;
                height: 300px;
                border-radius: 5px;
                margin-left: 30px;
                margin-right: 20px;
                margin-bottom: 20px;
            }   
            .img-mision-movil {
                width: 380px;
                height: 400px;
                border-radius: 5px;
                margin-left: 30px;
                margin-right: 45px;
                margin-bottom: 30px;
            }
            .img-vision-movil {
                width: 366px;
                height: 312px;
                border-radius: 5px;
                margin-left: 30px;
                margin-right: 20px;
                margin-bottom: 20px;
            }
            .img-propuesta-movil {
                width: 400px;
                height: 400px;
                border-radius: 5px;
                margin-left: 30px;
                margin-right: 20px;
                margin-bottom: 20px;
            }
            .nosotros__article-div-p-movil {
                font-size: 18px;
                margin-top: 20px;
                margin-left: 70px;
                margin-right: 70px;
                margin-bottom: 60px;
                color: $f-color2;
                text-align: justify;
            }
        }
    }
 }

 .sobre-nosotros{ 
    display: none;
 }

 .sobre-nosotros-tablet{
    display: none;
 }

 /* ------------TESTIMONIALES-------------- */   

 .testimonios {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    .tes-art1 {
        @include estiloCardMM($insta)
    }
    .tes-art2 {
        @include estiloCardMM($insta)
    }
    .tes-art3 {
        @include estiloCardMM($linke)
    }
    .tes-art4 {
        @include estiloCardMM($linke)
    }
    .tes-art5 {
        @include estiloCardMM($twitt)
    }
    .tes-art6 {
        @include estiloCardMM($twitt)
    }
    
}

}