/* ------------PREGUNTAS FRECUENTES-------------- */

.bots-1 {
    .bots-2 {
        .bots-2-h2 {
            color: $f-color1;
        }
    }
    .bots-3 {
        .bots-4-p{
           color: $f-color2;
        }
    }
}
